body{
	background-color: grey;
}
#row{
	display: flex;
  	flex-direction: row;
  	justify-content: center;
}

.first{
	width: 45%;
	margin-left: 3%;
	padding-bottom: 20px;
	float: left;
}
#second{
	width: 40%;
	margin-left: 3%;
	float: left;
	padding-bottom: 20px;
}
.images:hover{
	filter: blur(2px);
	filter: brightness(60%);
}
#navbar{
	background-color: black;
	margin-left: -10px;
	padding-bottom: 20px;
	position:fixed;
	top:0;
	width:100%
}

#navbar a{
	font-weight: bold;
	font-size: 20pt;
	float: right;
	text-align: center;
	display: block;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
	color: #1bff80;
}
#navbar a:hover{
	border: solid;
}
#navbar li{
	list-style: none;
}
.links{
	text-align: center;
}
#project-title{
	text-align: center;
	font-size: 80pt;
	font-weight: bold;
	font-family: Courier New;
	background-color: white;
	color: #1bff80;
}
#welcome-section{
	text-align:center;
	height:100vh;
	padding-top: 300px;

}
.head{
	font-size: 100pt;
	font-weight: bold;
	font-family: Courier New;
	color: #1bff80;
	margin: 0 auto;
	margin-bottom: -50px;
	width: 40%;
	background-color: black;
}
.head1{
	font-size: 50pt;
	font-weight: bold;
	font-family: Courier New;
	color: #1bff80;
	background-color: black;
	padding-right: -50px;
}
#background{
	background-color: pink;
	margin-right: -10px;
	margin-left: -10px;

}
.design{
	display: inline-block;
	color: black;
	margin-top: -100px;
	margin-bottom: -100px;
}
#works{
	text-align: center;
	font-family: Courier New;
	font-size: 50pt;
	padding-bottom: 30px;
}
.names1{

	width: 50%;
	display: block;
	float: right;
	font-family: Courier New;
	font-weight: bold;
	text-align: center;
	font-size: 20pt;
}
.names2{
	width: 50%;

	float: left;
	font-family: Courier New;
	font-weight: bold;
	text-align: center;
	font-size: 20pt;
}

.column {
  float: left;
  width: 40%;
  padding: 5px;
  margin-left: 6%;
}
.column:hover{
	filter: blur(2px);
	filter: brightness(50%);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column1 {
  float: left;
  width: 40%;
  padding: 5px;
  margin-left: 6%;
}
.column1:hover{
	filter: blur(2px);
	filter: brightness(50%);
}



.row1::after {
  content: "";
  clear: both;
  display: table;
}
.top{
	text-align: center;
	background-color: black;
	color: pink;
	font-size: 20pt;
	font-weight: bold;
	font-family: Courier New;
	padding: 10px;
	margin-bottom: -5px;
	display: block;
}
a{
	text-decoration: none;
}

.background1{
	background-color: black;	
	margin-left: -15px;
	margin-right: -10px;
	margin-bottom: -10px;
}
#profile-link{
	font-family: Courier New;
	color: #1bff80;;
	text-align: center;
	border: solid;
	border-color: pink;

}
#prof-link{
	color: pink;
	text-decoration: none;
	display: inline-block;
	font-family: Courier New;
	font-size: 18pt;

}
#prof-link:hover{
	border: solid;
}
.github-link{
	display: inline-block;
	padding-bottom: 30px;
	font-size: 16pt;
}
.prof{
	border: solid;
	margin-right: 30%;
	margin-left: 30%;
	font-size: 20pt;

}
.prof1{
	font-size: 18pt;
}
@media (max-height: 100%){
 #welcome-section
{


/*
.names2{
	width: 50%;
	font-size: 20pt;
	font-family: Courier New;
	font-weight: bold;
	text-align: center;
	background-color: black;
	color: pink;
}
.names1{
	width: 90%;
	font-size: 20pt;
	font-family: Courier New;
	font-weight: bold;
	text-align: center;
}

.names3{

	width: 50%;
	font-size: 20pt;
	font-family: Courier New;
	font-weight: bold;
	text-align: center;
	background-color: black;
	color: pink;
}



/*
.img1-cap{
	display: block;
	margin-left: 42px;
	margin-right: 726px;
	text-indent: 250px;
	display: block;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -5px;
	color: #1bff80;
	font-size: 20pt;
	font-family: Courier New;
	font-weight: bold;
}
.img1-cap:hover {
	border: solid;
	cursor: pointer;
}
.link1{
	text-decoration: none;
}
.images1{
	background-color: black;
	width: 45%;
	margin-left: 3%;
	display: grid;

}
.images2{
	background-color: black;
	width: 45%;
	margin-left: 53%;
	float: left;
	margin-top: -700px;
}
.images3{
	background-color: black;
	width: 45%;
	margin-left: 3%;

}
